/* Estiliza a barra de rolagem inteira */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra vertical */
    height: 12px; /* Altura da barra horizontal */
  }
  
  /* Estiliza o "polegar" (parte que se move) */
  ::-webkit-scrollbar-thumb {
    background: #b28756; /* Cor do polegar */
    border-radius: 10px; /* Bordas arredondadas */
  }
  
  /* Estiliza o polegar ao passar o mouse */
  ::-webkit-scrollbar-thumb:hover {
    background: #b28756ce; /* Cor ao passar o mouse */
  }
  