.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: bottom;
}

.swiper {
    position: relative;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
}

.swiper-pagination {
    position: absolute;
    bottom: 20px; 
    text-align: center;
    width: 100%;
}

.swiper-pagination-bullet {
    background-color: #b28756 !important; /* Cor padrão das bolinhas */
    width: 15px; /* Largura */
    height: 15px; /* Altura */
    border-radius: 50%; /* Torna as bolinhas redondas */
    opacity: 0.7; /* Deixa as bolinhas levemente transparentes */
    transition: transform 0.3s, background-color 0.3s ease; /* Animações suaves */
}

.swiper-pagination-bullet-active {
    background-color: #b28756 !important; /* Cor da bolinha ativa */
    transform: scale(1.5) !important; /* Aumenta o tamanho da bolinha ativa */
    opacity: 1 !important; /* Totalmente opaca */
}

.banner .slidearea {
    display: flex;
    height: 100%;
    align-items: center;
    color: #fff;
    justify-content: center;
    flex-direction: column;
}

.banner h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.banner h1 span {
    color: #b28756;
}

.banner h2{
    text-transform: uppercase;
    margin-top: 20px;
}

.button{
    display: inline-block;
    background-color: #B28756;
    text-transform: uppercase;
    color:#FFF;
    font-size:12px;
    font-weight: 600;
    text-decoration: none;
    padding:10px 30px;
    margin-top: 30px;
    border-radius: 20px;
    border: 0;

}
.button--dark {
    background-color:#000;
}
.button--dark:hover {
    background-color:#B28756;
}



